{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- script tag for htmx -->
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous">
    </script>
  {% tailwind_css %}

  {% block head_content %}
  {% endblock head_content %}
</head>

<body class="pt-[120px] md:pt-[150px]" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <header hx-trigger="load once" hx-swap="innerHTML" hx-get="{% url 'get-header-content' %}">
  </header>

  <menu id="menu"></menu>

  <search id="search"></search>

  {% block content %}
  {% endblock content %}
</body>

</html>