{% extends "storefront/base.html" %}

{% load tailwind_filters %}

{% block head_content %}
<title>Register</title>
{% endblock head_content %}

{% block content %}
<main class="bg-gray-50 min-h-[calc(100vh-160px)] flex justify-center items-center">
  <div class="max-md:w-[80%] max-lg:w-[60%] lg:w-[40%] pt-8 pb-8 px-8 bg-white shadow-2xl rounded-xl">
    <h1 class="text-center text-3xl mb-4">ElyScents</h1>
    <h2 class="text-2xl mb-4 font-semibold">Register</h2>
    <form autocomplete="off" action="" method="post">
      {% csrf_token %}
      {{form|crispy}}
      <button class="w-full bg-black text-white py-3 mt-3 rounded-lg font-bold text-base tracking-wide">
        Register
      </button>
    </form>
    <div class="mt-8 text-lg">
      Already have an account? <a class="font-semibold border-b-2 border-b-gray-300 link-decoration"
        href="{% url 'login' %}">Login to your account</a>
    </div>
  </div>
</main>

{% endblock content %}